extends  ./layout/index

block content 
  main.container.mt-5 
    .row
      .col-md-5
        img(src="img/nosotros.jpg", class="img-fluid" alt="about us")
      .col-md-7
        h1= page
        blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, incidunt nobis enim quae voluptate ipsa rerum eveniet necessitatibus in dolorum reprehenderit distinctio, dolorem repudiandae aliquam ratione dolores, eius veritatis voluptas reiciendis expedita voluptatem. Unde repellendus, dignissimos magni rerum possimus beatae!

        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique inventore, harum sed cupiditate aperiam iste voluptates, facilis fugit velit quod dolorem. Dignissimos commodi quia ea accusantium nisi laborum aliquam distinctio incidunt veniam magni at corporis maiores, maxime esse vitae facilis?

        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum tempora cumque explicabo rerum quisquam pariatur ea minima ducimus ad repellat excepturi dolorum laudantium incidunt, tempore accusamus autem ut eveniet tenetur. Officia animi tenetur at neque nulla sequi mollitia qui ipsa.

  .listado-iconos 
    .containe.mt-5.py-5.text-center
      .row 
        .col-md-4 
          img(src="img/icono_seguridad.svg", alt="seguridad" class="img-fluid mb-4")
          h2.mb-4 Security 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quis consequuntur rerum minima harum distinctio.

        .col-md-4 
          img(src="img/icono_destinos.svg", alt="destinos" class="img-fluid mb-4")
          h2.mb-4 The best Destinations 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quis consequuntur rerum minima harum distinctio.

        .col-md-4 
          img(src="img/icono_precios.svg", alt="precios" class="img-fluid mb-4")
          h2.mb-4 The best Prices
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quis consequuntur rerum minima harum distinctio.